		<header>
    <nav class="navbar navbar-default">
      <div class="container">


        <div class="navbar-header"> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="">
            <div class="navbar-brand"><a href="load_chat_page.html">Username</a></div> 
        </div> <!-- navbar header -->
          <div class="collapse navbar-collapse span12">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="settings.html"><span></span> Settings</a></li>
              <li><a href="login.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </div>
    </nav>
    </header>
		<!-- <div id = "maincontent" style = "margin: 2 5em; height:100%;"> -->



	<!-- <input class="btn" style="float:right;" type='submit' name='logout' value='Logout'/>
	<input class="btn" style="float:right;" type='submit' name='settings' value='settings'/> -->
	<!-- <button type = "submit">Logout</button>
	<button type = "submit">Settings</button>
-->
<!-- <h1> Hello, SOMENAME</h1> -->

<h2 class="col-sm-12 col-md-12 h2-md h2 page-header">Welcome To GoldChat</h2>
<!-- <b style = "color: red">****DO NOT FOLLOW THIS LAYOUT ENTIRELY**** <a href="layout.png">proposed layout</a></b> -->

	<!-- <div class="row">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
	</div>
	<div class="row">
	  <div class="col-md-4 col-md-offset-4">.col-md-3 .col-md-offset-3</div>
	  <div class="col-md-4 col-md-offset-4">.col-md-3 .col-md-offset-3</div>
	</div> -->



	<!-- <table style="width:100%">
	  <tr>
	    <th><a href = "#">Global chat</a></th>
	    <th><a href = "#">Local chat</a></th>
		<th><a href = "#">Group chat</a></th>
	  </tr>
	</table> -->
	<!-- <ul>
	<li><a href='user_main_page.html' title='Global'>Global Chat</a></li>
	<li><a href='user_main_page.html' title='Local'>Local Chat</a></li>
	<li><a href='user_main_page.html' title='Group'>Group Chat</a></li> -->
	<!-- <li style="float: right;"><a href='?page=register' title='register'>Chat Settings</a></li> -->

	<!-- </ul> -->
	<div class="row navbar2">
		<div class="col-md-2 col-md-offset-4"> <a href="user_main_page.html">Global Chat</a></div>
		<div class="col-md-2"><a href="user_main_page.html">Local Chat</a></div>
		<div class="col-md-2"> <a href="user_main_page.html">Group Chat</a></div>
	</div>
	<!-- <div class="col-sm-2 col-md-2 boxcl" class="navbar-toggle" id = "mainpagenav">
	</div>
-->


	<!-- <input type='submit' name='showusers' value='Show users'/>
	 <p> on click of this button it should show a list of ppl *note: div id onlineusers is display:none</p>
	-->




	<!-- <div id = "onlineusers" style = "border-style: solid; display: inline-block; width: 10em; display:none;">
	<p>current users:</p>
	<ul>
	<li style="color: green">guy1</li>
	<li style="color: green">guy2</li>
	<li style="color: green">girl1</li>
	<li style="color: orange">guy3</li>
	<li style="color: red">girl2</li>
	<li style="color: red">girl3</li>
	<li style="color: grey">guy4</li>
	<li style="color: grey">girl4</li>
	<li style="color: grey">guy5</li>
	<li style="color: grey">girl5</li>
	<li style="color: grey">girl6</li>
	<li style="color: grey">girl6</li>
	</ul>
	</div>



	<div class="col-md-12" class="desframe">

	<!-- <input type='submit' name='chatsettings' value='chat settings' style = "float: right" />
		<p> What's Your Interest</p>
	<p> What's Your Interest</p>

	<!-- <div id = "chat" style = " margin: 1em;"> -->
	<div class="desc">Groups you're in</div>
	<div id = 'searchMenu' class="desc">
	<form method = 'POST'>
	<input type = 'text' name = 'searchInput' placeholder = 'Group name...' />
	<input type = 'submit' name = 'searchButton' value = 'Create' />
	</form>

	</div>
	<div class="col-lg-4 boxcl" id = "joined" style = " font-variant:small-caps; background: #f2f2f2; height:60%; verflow-y: scroll; overflow-x:hidden; border-style:none; margin:2em; text-align: center; width: 55% ; margin-left: 29% ">


	</div>

	<!-- <input type='text' style = "width: 80%; margin: 15px; padding: 15px;" name='chatbox' placeholder='Enter message'/>
	<input type='submit' style = "float:right;" name='submitmessage' placeholder='post'/>
	<button type = "submit">Send</button> -->
</div>



	<!-- </div>
-->
</div>