
 <link rel="stylesheet" type="text/css" href="../css/style.css" > 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../js/index.js"></script>
 
<h3 style="color:#FFFFFF;font-weight:700;text-align: center;font-size: 35px; font-family: fantasy; padding-top: 30;">GoldChat</h3>


<div class="login-page">
  <div class="form">
    <form class="register-form" method = "POST" enctype="multipart/form-data">
	
	  <input type="text" class="firstname" name="firstname" placeholder="Firstname"/> 
	  <input type="text" class="lastname"  name="lastname"  placeholder="Lastname"/> 
	
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password"  placeholder="Password"/>
	  
	  <input type="password" placeholder="Repeat Password"/> 
	  
      <input type="text" name="email" placeholder="Email Address"/>
	  
	  
      <button type = "submit">create</button>
	  
	  
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
	
    <form class="login-form" method = "POST" enctype="multipart/form-data">
	
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button type = "submit">login</button>

      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
	
  </div>
</div>
