<div id = 'register'>


<h1>
This is register
</h1>
<p>
this is register.html, template folder
</p>
<p>
the likelihood of approving the usage of goldsmith's user details db is close to 0%
</p>

<form id='registerForm' method = 'POST'>

<input  type='text' name='username' placeholder='Username'><br>

<input type='password' name='password'  placeholder='Password'><br>

<input type='password' name='repeatpassword'  placeholder='Repeat Password'><br>

<input type='submit' name='login' value='Register'>

</form>

</div>